<h4>Formularios <small>Template</small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="save( form )" #form="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="name"
               [class.is-invalid]="name.invalid && name.touched"
               [ngModel]="user.name"
               placeholder="Nombre"
               required
               minlength="5"
               #name="ngModel"
               />
        <small *ngIf="name.invalid && name.touched" class="form-text text-danger">El nombre es OBLIGATORIO</small>
    </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="lastName"
               [class.is-invalid]="lastName.invalid && lastName.touched"
               [ngModel]="user.lastName"
               placeholder="Apellido"
               minlength="5"
               required
               #lastName="ngModel"
               />
        <small *ngIf="lastName.invalid && lastName.touched" class="form-text text-danger">El apellido es OBLIGATORIO</small>
    </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             name="email"
             [ngClass]="{'is-invalid': email.invalid && email.touched}"
             [ngModel]="user.email"
             placeholder="Correo electrónico"
             pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
             required
             #email="ngModel"
             />
      <small *ngIf="email.invalid && email.touched" class="form-text text-danger">El correo es OBLIGATORIO</small>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>