<h4>Formularios <small>Reactive</small></h4>
<hr>
<form autocomplete="off" [formGroup]="form" (ngSubmit)="save()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
              [class.is-invalid]="nameNotValid()"
              type="text"
              placeholder="Nombre"
              formControlName="name">
        <small class="text-danger form-text" *ngIf="nameNotValid()">
          Ta mal
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control"
              [class.is-invalid]="lastNameNotValid()"
              type="text"
              placeholder="Apellido"
              formControlName="lastName">
        <small class="text-danger form-text" *ngIf="lastNameNotValid()">
          Ta mal
        </small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
            [class.is-invalid]="emailNotValid()"
            type="email"
            placeholder="Correo electrónico"
            formControlName="email">
      <small class="text-danger form-text" *ngIf="emailNotValid()">
        Ta mal
      </small>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<hr />
<pre>
  Estado del formulario: {{ form.valid }}
  <br />
  Status: {{ form.status }}
</pre>

<pre>
  {{ form.value | json }}
</pre>